.function {
    border-style: solid;
    border-width: 5px;
    background-color: slategrey;
}
.object {
    border-style: solid;
    border-width: 5px;
    background-color: slategrey;
}
.forloop {
    border-style: solid;
    border-width: 5px;
    background-color: slategrey;
}
 #body {
    background: url("programming-code.jpg") no-repeat;
    height: 165px;
    background-size: cover;
 }
h1 {
    font-size: 100px;
    
}
}

@import "compass/css3";

@import url(https://fonts.googleapis.com/css?family=Raleway);
#w3-container w3-black {
    background-color: black;
}
.jumbotron {
  padding: 2px;
  width: 100%;
  margin: top;
  background-color: black;
  color: white;
}
footer { 
  display: block;
  color: white;
}





